body {
  background: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: #283e50;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0, 3);
}
.headline {
  font-family: 'Lobster', cursive;
  display: block;
  font-size: 36px;
  font-weight: bold;
  margin-block-start: 10px;
  margin-block-end: 10px;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

div {
  display: block;
}
.container,
.image {
  width: 360px;
  border-radius: 7px 7px 0 0;
}

.button,
.headline,
.description {
  color: white;
  text-align: center;
}

.button {
  display: inline-block;
  width: 100%;
  height: auto;
  padding: 10px 0;
  text-decoration: none;
}
.pravidla {
  background-color: #1fcca4;
}

.zacit {
  background-color: #0197f6;
}

.pravidla:hover {
  background-color: #1cbb96;
}

.zacit:hover {
  background-color: #0090e9;
}
