html {
  box-sizing: border-box;
  min-height: 100vh;
}

body {
  background: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  margin: 20px auto;
  background-color: #283e50;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0, 3);
}
.headline {
  font-family: 'Lobster', cursive;
  display: block;
  font-size: 36px;
  font-weight: bold;
  margin-block-start: 10px;
  margin-block-end: 10px;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

div {
  display: block;
}
.container,
.image {
  width: 360px;
  border-radius: 7px 7px 0 0;
}

.button,
.headline,
.description {
  color: white;
  text-align: center;
}

.description {
  line-height: 1.5;
  padding: 0 10px;
  margin-bottom: 30px;
}
.button {
  display: inline-block;
  width: 100%;
  height: auto;
  padding: 10px 0;
  text-decoration: none;
}
.pravidla {
  background-color: #1fcca4;
}

.zacit {
  background-color: #0197f6;
}

.pravidla:hover {
  background-color: #1cbb96;
}

.zacit:hover {
  background-color: #0090e9;
}
/*----druhý úkol----*/
.uvod {
  width: 90%;
  background-color: #283e50;
  margin: 20px auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.obrazek {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 100%;
}

.nazev {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  margin: 0px;
  padding: 20px 5px;
  color: #ffffff;
  text-align: center;
}

.texty {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding: 0px 20px;
}

.obal {
  max-width: 85%;
  margin: 0px auto;
}

.seznam {
  text-align: left;
  max-width: 90%;
  padding-left: 30px;
}

.odrazka {
  margin-bottom: 15px;
  padding-left: 10px;
}

.ikonka {
  filter: invert(100%);
  width: 1em;
  height: 1em;
}

/* nápovědy */

figure {
  margin: 40px auto;
  width: 85%;
}

.ukazka {
  width: 100%;
}

.popis {
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  text-align: center;
  margin: 10px auto 0px;
  width: 90%;
}

/* tlačítka */

.tlacitka {
  text-decoration: none;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.tlacitko {
  width: 100%;
}

a {
  text-decoration: none;
  padding: 10px;
  display: block;
  color: #ffffff;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.uvodni {
  background-color: #1fcca4;
  margin-bottom: 2px;
  width: 100%;
}

.zacit {
  background-color: #0197f6;
}

.pravidla {
  background-color: #1fcca4;
  margin-bottom: 2px;
  width: 100%;
}

.pravidla:hover,
.pravidla:focus {
  background-color: #1cbb96;
}

.uvodni:hover,
.uvodni:focus {
  background-color: #1cbb96;
}

.zacit:hover,
.zacit:focus {
  background-color: #0090e9;
}

/* široká obrazovka */

@media screen and (min-width: 1000px) {
  .uvod {
    width: 80%;
  }

  .obrukazky {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: 0px auto;
  }

  figure {
    width: 45%;
  }

  a {
    padding: 20px;
  }
}

/* velmi široká obrazovka */

@media screen and (min-width: 2800px) {
  .uvod {
    width: 25%;
  }
}

/*----třetí úkol----*/

.hra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80vmin;
}

.hraje {
  color: #ffffff;
  font-weight: bold;
}

.pole {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(
    0deg,
    rgba(250, 170, 205, 1) 0%,
    rgba(133, 120, 161, 1) 100%
  );
}

.butt-hra {
  width: 8vmin;
  height: 8vmin;
  opacity: 0.4;
  border: black 1px solid;
}

.butt-hra:hover {
  opacity: 0.6;
}

.horni-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.proklikovky {
  display: flex;
  align-items: center;
}
.domu,
.znovu {
  display: flex;
  justify-content: center;
  width: 0, 8vmin;
  height: 0, 8vmin;
  margin: 3px;
  border-radius: 5px;
}
.znovu {
  background-color: #1fcca4;
}
.znovu:hover {
  background-color: #1cbb96;
}
.domu {
  background-color: #0197f6;
}
.domu:hover {
  background-color: #0090e9;
}
.domecek,
.restart {
  align-items: center;
}

.board__field--circle {
  background-image: url('circle.svg');
  background-size: 70%;
  background-position: center center;
  background-repeat: no-repeat;
}

.board__field--cross {
  background-image: url('cross.svg');
  background-size: 70%;
  background-position: center center;
  background-repeat: no-repeat;
}
